/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/_definitions.scss */
body {
  max-width: 100%;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
  color: #555555;
  font-family: "Lato", Helvetica, sans-serif;
}

/* line 45, ../sass/_definitions.scss */
body, html {
  height: 100%;
}

/* line 48, ../sass/_definitions.scss */
.modal {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

/* line 54, ../sass/_definitions.scss */
.fullwidth {
  width: 100%;
  height: auto;
}

/* line 58, ../sass/_definitions.scss */
.threefourth {
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
}

/* line 63, ../sass/_definitions.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  margin: 0 0 1em 0;
}

/* line 68, ../sass/_definitions.scss */
h1 {
  font-size: 2.625em;
}

/* line 69, ../sass/_definitions.scss */
h2 {
  font-size: 2em;
}

/* line 70, ../sass/_definitions.scss */
h3 {
  font-size: 1.5em;
}

/* line 71, ../sass/_definitions.scss */
h4 {
  font-size: 1.3125em;
}

/* line 72, ../sass/_definitions.scss */
h5 {
  font-size: 1em;
}

/* line 73, ../sass/_definitions.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 76, ../sass/_definitions.scss */
.ib {
  display: inline-block;
  vertical-align: middle;
}

/* line 80, ../sass/_definitions.scss */
.fleft {
  float: left;
}

/* line 83, ../sass/_definitions.scss */
.fright {
  float: right;
}

/* line 86, ../sass/_definitions.scss */
.pageBlocks {
  position: relative;
}
/* line 88, ../sass/_definitions.scss */
.pageBlocks p {
  margin-bottom: 1em;
}

/* line 92, ../sass/_definitions.scss */
button {
  border: 0;
  border-radius: 5px;
  line-height: 1;
  padding: 8px;
  font-family: "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* line 97, ../sass/_definitions.scss */
input {
  line-height: 1;
  padding: 7px;
  font-family: "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #EEE #EEE #DDD;
}

/* line 102, ../sass/_definitions.scss */
.bg-prim {
  background: #E40707;
}

/* line 105, ../sass/_definitions.scss */
.bg-sec {
  background: #DB6A47;
}

/* line 108, ../sass/_definitions.scss */
.bg-acc {
  background: #3ADEED;
}

/* line 111, ../sass/_definitions.scss */
.bg-soft {
  background: #999999;
}

/* line 114, ../sass/_definitions.scss */
.bg-hard {
  background: #555555;
}

/* line 117, ../sass/_definitions.scss */
.bg-light {
  background: #EEEEEE;
}

/* line 120, ../sass/_definitions.scss */
.bg-dark {
  background: #333333;
}

/* line 123, ../sass/_definitions.scss */
.prim {
  color: #E40707;
}

/* line 126, ../sass/_definitions.scss */
.sec {
  color: #DB6A47;
}

/* line 129, ../sass/_definitions.scss */
.acc {
  color: #3ADEED;
}

/* line 132, ../sass/_definitions.scss */
.soft {
  color: #999999;
}

/* line 135, ../sass/_definitions.scss */
.hard {
  color: #555555;
}

/* line 138, ../sass/_definitions.scss */
.light {
  color: #EEEEEE;
}

/* line 141, ../sass/_definitions.scss */
.dark {
  color: #333333;
}

/* line 144, ../sass/_definitions.scss */
.white {
  color: white;
}

/* line 147, ../sass/_definitions.scss */
.bb, .col-tn-1, .col-tn-2, .col-tn-3, .col-tn-4, .col-tn-5, .col-tn-6, .col-tn-7, .col-tn-8, .col-tn-9, .col-tn-10, .col-tn-11, .col-tn-12, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 153, ../sass/_definitions.scss */
a {
  outline: 0;
}
/* line 155, ../sass/_definitions.scss */
a:visited {
  color: inherit;
}

/* line 1, ../sass/_popup.scss */
div.popup {
  position: fixed;
  z-index: 9998;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  width: 300px;
  height: 440px;
  overflow: auto;
}
/* line 5, ../sass/_popup.scss */
div.popup .closepopup {
  z-index: 9999;
  color: #999999;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 11px;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  /* line 11, ../sass/_popup.scss */
  div.popup {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  /* line 16, ../sass/_popup.scss */
  div.popup {
    width: 600px;
    height: 450px;
  }
}
/* line 23, ../sass/_popup.scss */
.messageModal, .messageModal.small {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 9999;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  top: 0;
  left: 0;
}
/* line 26, ../sass/_popup.scss */
.messageModal.flexed, .messageModal.small.flexed {
  -webkit-display: flex !important;
  -moz-display: flex !important;
  -o-display: flex !important;
  -ms-display: flex !important;
  display: flex !important;
}
/* line 29, ../sass/_popup.scss */
.messageModal .messageModalInner, .messageModal.small .messageModalInner {
  width: 320px;
  background: white;
  padding: 20px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  max-height: 90%;
}
/* line 33, ../sass/_popup.scss */
.messageModal .messageModalInner button, .messageModal.small .messageModalInner button {
  color: white;
  font-weight: bold;
  background: #47D4D4;
}
/* line 36, ../sass/_popup.scss */
.messageModal .messageModalInner p, .messageModal.small .messageModalInner p {
  font-size: 1.125em;
  margin-bottom: 1em;
  word-break: normal;
}
/* line 39, ../sass/_popup.scss */
.messageModal .messageModalInner .close, .messageModal.small .messageModalInner .close {
  position: absolute;
  border: 0;
  padding: 6px;
  z-index: 11;
  border-radius: 50%;
  line-height: 1;
  right: -13px;
  top: -13px;
  background: #E40707;
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Segoe UI Symbol', 'Lucida Sans Regular', 'Symbola', 'Myriad Pro', 'Dingbats', 'Symbol', 'Apple Symbols', 'Arial Unicode MS', sans-serif;
}
/* line 45, ../sass/_popup.scss */
.messageModal .messageModalInner .closeImg, .messageModal.small .messageModalInner .closeImg {
  display: block;
  height: 100%;
  width: auto;
}

@media screen and (min-width: 480px) {
  /* line 52, ../sass/_popup.scss */
  .messageModal.wide .messageModalInner, .messageModal.xl .messageModalInner, .messageModal.xxl .messageModalInner {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  /* line 59, ../sass/_popup.scss */
  .messageModal.wide .messageModalInner {
    width: 540px;
  }
  /* line 62, ../sass/_popup.scss */
  .messageModal.xl .messageModalInner, .messageModal.xxl .messageModalInner {
    width: 640px;
  }
  /* line 66, ../sass/_popup.scss */
  .messageModal .messageModalInner .close {
    right: -14px;
    top: -14px;
  }
}
@media screen and (min-width: 992px) {
  /* line 74, ../sass/_popup.scss */
  .messageModal.wide .messageModalInner {
    width: 540px;
  }
  /* line 77, ../sass/_popup.scss */
  .messageModal.xl .messageModalInner, .messageModal.xxl .messageModalInner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 84, ../sass/_popup.scss */
  .messageModal.wide .messageModalInner {
    width: 540px;
  }
  /* line 87, ../sass/_popup.scss */
  .messageModal.xl .messageModalInner {
    width: 768px;
  }
  /* line 90, ../sass/_popup.scss */
  .messageModal.xxl .messageModalInner {
    width: 992px;
  }
}
/* line 1, ../sass/_grid.scss */
.show-sm {
  display: initial;
}

/* line 4, ../sass/_grid.scss */
.hide-sm {
  display: none;
}

/* line 7, ../sass/_grid.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 11, ../sass/_grid.scss */
  .container {
    width: 720px;
  }

  /* line 14, ../sass/_grid.scss */
  .show-sm {
    display: none;
  }

  /* line 17, ../sass/_grid.scss */
  .hide-sm {
    display: initial;
  }
}
@media (min-width: 992px) {
  /* line 22, ../sass/_grid.scss */
  .container {
    width: 960px;
  }
}
@media (min-width: 1280px) {
  /* line 27, ../sass/_grid.scss */
  .container {
    width: 1200px;
  }
}
/* line 31, ../sass/_grid.scss */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 34, ../sass/_grid.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 37, ../sass/_grid.scss */
.col-tn-1, .col-tn-2, .col-tn-3, .col-tn-4, .col-tn-5, .col-tn-6, .col-tn-7, .col-tn-8, .col-tn-9, .col-tn-10, .col-tn-11, .col-tn-12, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 41, ../sass/_grid.scss */
.col-tn-1, .col-tn-2, .col-tn-3, .col-tn-4, .col-tn-5, .col-tn-6, .col-tn-7, .col-tn-8, .col-tn-9, .col-tn-10, .col-tn-11, .col-tn-12 {
  float: left;
}

/* line 44, ../sass/_grid.scss */
.col-tn-12 {
  width: 100%;
}

/* line 47, ../sass/_grid.scss */
.col-tn-11 {
  width: 91.66666667%;
}

/* line 50, ../sass/_grid.scss */
.col-tn-10 {
  width: 83.33333333%;
}

/* line 53, ../sass/_grid.scss */
.col-tn-9 {
  width: 75%;
}

/* line 56, ../sass/_grid.scss */
.col-tn-8 {
  width: 66.66666667%;
}

/* line 59, ../sass/_grid.scss */
.col-tn-7 {
  width: 58.33333333%;
}

/* line 62, ../sass/_grid.scss */
.col-tn-6 {
  width: 50%;
}

/* line 65, ../sass/_grid.scss */
.col-tn-5 {
  width: 41.66666667%;
}

/* line 68, ../sass/_grid.scss */
.col-tn-4 {
  width: 33.33333333%;
}

/* line 71, ../sass/_grid.scss */
.col-tn-3 {
  width: 25%;
}

/* line 74, ../sass/_grid.scss */
.col-tn-2 {
  width: 16.66666667%;
}

/* line 77, ../sass/_grid.scss */
.col-tn-1 {
  width: 8.33333333%;
}

@media (min-width: 480px) {
  /* line 81, ../sass/_grid.scss */
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  /* line 84, ../sass/_grid.scss */
  .col-xs-12 {
    width: 100%;
  }

  /* line 87, ../sass/_grid.scss */
  .col-xs-11 {
    width: 91.66666667%;
  }

  /* line 90, ../sass/_grid.scss */
  .col-xs-10 {
    width: 83.33333333%;
  }

  /* line 93, ../sass/_grid.scss */
  .col-xs-9 {
    width: 75%;
  }

  /* line 96, ../sass/_grid.scss */
  .col-xs-8 {
    width: 66.66666667%;
  }

  /* line 99, ../sass/_grid.scss */
  .col-xs-7 {
    width: 58.33333333%;
  }

  /* line 102, ../sass/_grid.scss */
  .col-xs-6 {
    width: 50%;
  }

  /* line 105, ../sass/_grid.scss */
  .col-xs-5 {
    width: 41.66666667%;
  }

  /* line 108, ../sass/_grid.scss */
  .col-xs-4 {
    width: 33.33333333%;
  }

  /* line 111, ../sass/_grid.scss */
  .col-xs-3 {
    width: 25%;
  }

  /* line 114, ../sass/_grid.scss */
  .col-xs-2 {
    width: 16.66666667%;
  }

  /* line 117, ../sass/_grid.scss */
  .col-xs-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 768px) {
  /* line 122, ../sass/_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 125, ../sass/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 128, ../sass/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 131, ../sass/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 134, ../sass/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 137, ../sass/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 140, ../sass/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 143, ../sass/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 146, ../sass/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 149, ../sass/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 152, ../sass/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 155, ../sass/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 158, ../sass/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  /* line 163, ../sass/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 166, ../sass/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 169, ../sass/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 172, ../sass/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 175, ../sass/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 178, ../sass/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 181, ../sass/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 184, ../sass/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 187, ../sass/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 190, ../sass/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 193, ../sass/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 196, ../sass/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 199, ../sass/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  /* line 204, ../sass/_grid.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 207, ../sass/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 210, ../sass/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 213, ../sass/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 216, ../sass/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 219, ../sass/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 222, ../sass/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 225, ../sass/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 228, ../sass/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 231, ../sass/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 234, ../sass/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 237, ../sass/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 240, ../sass/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }
}
/* line 5, ../sass/payment-new-app.scss */
body {
  background: white;
  width: 100%;
  overflow-x: hidden;
}

/* line 8, ../sass/payment-new-app.scss */
.hidden {
  display: none;
}

/* line 11, ../sass/payment-new-app.scss */
.wrapper {
  position: relative;
  right: 0;
  transition: right 0.5s ease-in-out;
}

/* line 14, ../sass/payment-new-app.scss */
.pageBlocks {
  position: relative;
}

/* line 17, ../sass/payment-new-app.scss */
.centerWrap {
  width: 100%;
  margin: auto;
}

/* line 20, ../sass/payment-new-app.scss */
.topBand {
  display: none;
  padding-top: 20px;
}
/* line 22, ../sass/payment-new-app.scss */
.topBand .errorTitle, .topBand .successTitle {
  color: #E40707;
  margin-top: 6px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.5em;
  padding: 0 20px;
}
/* line 25, ../sass/payment-new-app.scss */
.topBand .errorTitle .fa, .topBand .successTitle .fa {
  font-size: 0.75em;
}
/* line 28, ../sass/payment-new-app.scss */
.topBand .errorTitle.successTitle, .topBand .successTitle.successTitle {
  color: #47b8db;
}

/* line 34, ../sass/payment-new-app.scss */
body.paymentError .topBand {
  display: block;
}
/* line 36, ../sass/payment-new-app.scss */
body.paymentError .topBand .errorTitle {
  display: block;
}
/* line 39, ../sass/payment-new-app.scss */
body.paymentError .topBand .successTitle {
  display: none;
}

/* line 45, ../sass/payment-new-app.scss */
body.paymentSuccess .topBand {
  display: block;
}
/* line 47, ../sass/payment-new-app.scss */
body.paymentSuccess .topBand .errorTitle {
  display: none;
}
/* line 50, ../sass/payment-new-app.scss */
body.paymentSuccess .topBand .successTitle {
  display: block;
}

/* line 55, ../sass/payment-new-app.scss */
.newPayment {
  text-align: center;
  margin-top: 25px;
}
/* line 57, ../sass/payment-new-app.scss */
.newPayment .topRow {
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  align-items: center;
}
/* line 59, ../sass/payment-new-app.scss */
.newPayment .topRow p {
  color: #999999;
  margin: 8px 0;
  font-weight: bold;
}
/* line 62, ../sass/payment-new-app.scss */
.newPayment .topRow .creditBalance {
  color: #E40707;
}
/* line 66, ../sass/payment-new-app.scss */
.newPayment .sectionTitle {
  margin-bottom: 15px;
  font-weight: normal;
}
/* line 69, ../sass/payment-new-app.scss */
.newPayment .subTitle {
  font-weight: bold;
  color: #DB6A47;
}
/* line 71, ../sass/payment-new-app.scss */
.newPayment .subTitle .fa-rupee {
  font-size: 0.875em;
}
/* line 76, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice {
  margin: auto;
  width: 320px;
  font-size: 0.875em;
}
/* line 78, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 10px;
  text-align: center;
  color: #626262;
}
/* line 81, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td:first-child {
  color: #b3b3b3;
  text-align: left;
  display: none;
}
/* line 84, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td .label {
  color: #a6a6a6;
  font-size: 0.8em;
  display: block;
  font-weight: normal;
  margin-bottom: 5px;
}
/* line 88, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td .offerPeriod {
  background: #07e4e4;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 20px 0;
  position: relative;
}
/* line 91, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td .offerPeriod.suggested {
  background: #BC53C1;
}
/* line 94, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td .offerPeriod .sessCount {
  font-size: 2em;
  display: block;
  line-height: 1;
}
/* line 97, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice td .offerPeriod .suggested {
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 11;
}
/* line 105, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:first-child:first-child td {
  border: 0;
  background: transparent;
}
/* line 111, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:last-child td {
  border-bottom: 1px solid #EEEEEE;
}
/* line 116, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:nth-child(2) td {
  font-weight: bold;
  font-size: 1.25em;
}
/* line 118, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:nth-child(2) td:first-child {
  font-weight: normal;
  font-size: 1em;
}
/* line 124, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:nth-child(4) td {
  font-weight: bold;
}
/* line 126, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:nth-child(4) td:first-child {
  font-weight: normal;
}
/* line 129, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:nth-child(4) td .discountPercent {
  color: #07e4e4;
  display: block;
}
/* line 136, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:nth-child(5) td:first-child {
  font-weight: normal;
  color: #999999;
}
/* line 142, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice tr:last-child td:first-child {
  border: 0;
}
/* line 147, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice {
  background-color: #999999;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* line 150, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice .btnText {
  position: relative;
  left: 8px;
  transition: all 0.3s ease;
}
/* line 153, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice i {
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
  left: -8px;
}
/* line 156, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice:hover {
  background-color: #555555;
}
/* line 159, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice.active {
  background: #555555;
}
/* line 161, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice.active .btnText {
  left: 0;
}
/* line 164, ../sass/payment-new-app.scss */
.newPayment .choiceRow .planChoice .choice.active i {
  opacity: 1;
  left: 0;
}
/* line 171, ../sass/payment-new-app.scss */
.newPayment .submitForm {
  display: none;
}
/* line 174, ../sass/payment-new-app.scss */
.newPayment .summaryTable {
  margin: 25px auto;
  width: 320px;
  display: none;
}
/* line 176, ../sass/payment-new-app.scss */
.newPayment .summaryTable td {
  border: 1px solid #EEEEEE;
  font-size: 1em;
  padding: 10px;
  color: #999999;
}
/* line 178, ../sass/payment-new-app.scss */
.newPayment .summaryTable td:last-child {
  text-align: right;
  font-weight: bold;
}
/* line 181, ../sass/payment-new-app.scss */
.newPayment .summaryTable td .fa-rupee {
  font-size: 0.875em;
}
/* line 187, ../sass/payment-new-app.scss */
.newPayment .summaryTable tr:nth-child(odd) td {
  background: #fafdfe;
}
/* line 192, ../sass/payment-new-app.scss */
.newPayment .summaryTable tr:last-child td:last-child {
  color: #333333;
}
/* line 197, ../sass/payment-new-app.scss */
.newPayment .formWrap {
  text-align: center;
  margin: 10px auto;
  margin-bottom: 10px;
}
/* line 199, ../sass/payment-new-app.scss */
.newPayment .formWrap .pageCta {
  width: 100%;
  height: 50px;
  background: #E40707;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* line 205, ../sass/payment-new-app.scss */
.newPayment .promoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* line 207, ../sass/payment-new-app.scss */
.newPayment .promoForm input, .newPayment .promoForm button {
  height: 35px;
  width: 150px;
  font-size: 1em;
  box-sizing: border-box;
}
/* line 210, ../sass/payment-new-app.scss */
.newPayment .promoForm input {
  margin-right: 19px;
}
/* line 212, ../sass/payment-new-app.scss */
.newPayment .promoForm input.error {
  border: 2px solid #E40707;
}
/* line 216, ../sass/payment-new-app.scss */
.newPayment .promoForm button {
  width: 100px;
}
/* line 219, ../sass/payment-new-app.scss */
.newPayment .promoForm .promoCta {
  background-color: #999999;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* line 222, ../sass/payment-new-app.scss */
.newPayment .promoForm .promoCta:hover {
  background: #555555;
}

/* line 229, ../sass/payment-new-app.scss */
.paymentWelcome .centerLogo {
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 45px;
  width: auto;
}
/* line 233, ../sass/payment-new-app.scss */
.paymentWelcome .paymentContainer {
  background: #f6fbfd;
  margin-top: 30px;
  padding-bottom: 30px;
}
/* line 236, ../sass/payment-new-app.scss */
.paymentWelcome .userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 20px;
}
/* line 239, ../sass/payment-new-app.scss */
.paymentWelcome .userInfo p {
  margin-bottom: 0;
}
/* line 242, ../sass/payment-new-app.scss */
.paymentWelcome .userInfo .creditBalance {
  color: #E40707;
  font-weight: bold;
}
/* line 246, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 15px;
}
/* line 248, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol {
  padding: 15px;
  display: none;
}
/* line 250, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner {
  box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.45);
  border-radius: 2px;
  padding: 14px;
  background: white;
}
/* line 252, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable {
  width: 100%;
  margin-bottom: 19px;
}
/* line 254, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable td, .paymentWelcome .planContainer .orderCol .orderInner .orderTable th {
  padding: 8px;
  text-align: center;
  color: #999999;
  font-size: 0.875em;
  font-weight: bold;
}
/* line 257, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable td:first-child, .paymentWelcome .planContainer .orderCol .orderInner .orderTable th:first-child {
  text-align: left;
}
/* line 260, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable td:last-child, .paymentWelcome .planContainer .orderCol .orderInner .orderTable th:last-child {
  text-align: right;
}
/* line 264, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable th {
  background: #555555;
  color: white;
  font-weight: bold;
}
/* line 268, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable tr:nth-child(odd) td {
  background: #f6fbfd;
}
/* line 272, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable tr:last-child td:last-child {
  font-weight: bold;
  color: #DB6A47;
}
/* line 275, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .orderCol .orderInner .orderTable td {
  border: 1px solid #f6f6f6;
}
/* line 281, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: padding 0.4s ease;
}
/* line 283, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full {
  width: 100%;
  background: transparent;
  padding: 15px;
  box-sizing: border-box;
}
/* line 285, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 30px;
  background: white;
}
/* line 288, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner .success {
  order: 4;
  width: 200px;
  margin: 0;
  display: initial;
}
/* line 291, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner .planCta {
  display: none;
}
/* line 294, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner .planDiscount, .paymentWelcome .planContainer .plan.full .planInner .duration, .paymentWelcome .planContainer .plan.full .planInner .planQty {
  margin: 0;
  padding: 0;
  flex: none;
  font-size: 1.25em;
  color: #555555;
}
/* line 297, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner .duration {
  order: 1;
  color: #9cd9ec;
}
/* line 300, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner .planDiscount {
  order: 2;
}
/* line 303, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full .planInner .planQty {
  order: 3;
}
/* line 307, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full:hover {
  padding: 15px;
}
/* line 309, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.full:hover .planInner:hover {
  padding: 10px 30px;
}
/* line 315, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.third .planDiscount {
  color: #DB6A47;
}
/* line 320, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan.second .planDiscount {
  color: #eaa894;
}
/* line 324, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .success {
  display: none;
  padding: 10px;
  margin: auto;
  margin-bottom: 21px;
  color: #999999;
  border-radius: 0;
  width: 80%;
  font-size: 1.25em;
}
/* line 328, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .planInner {
  background-color: white;
  text-align: center;
  transition: padding 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.45);
  border-radius: 2px;
  /*&.chosen {
  	border:1px solid transparent;
  	.duration {
  		color:lighten(complement($secondary-color),20%);
  	}
  	.planCta {
  		display:none;
  	}
  	.success {
  		display:block;
  	}
  }*/
}
/* line 345, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan:hover {
  padding-bottom: 10px;
}
/* line 348, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan:hover .planInner:hover {
  padding-top: 5px;
}
/* line 353, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .planCta {
  width: 80%;
  box-sizing: border-box;
  background-color: #DB6A47;
  color: white;
  margin-bottom: 25px;
  border-radius: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  transition: background-color 0.4s ease;
}
/* line 357, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .planCta:hover {
  background-color: #555555;
}
/* line 361, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .duration {
  line-height: 1;
  padding: 0;
}
/* line 364, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .planCost {
  font-size: 1em;
}
/* line 367, ../sass/payment-new-app.scss */
.paymentWelcome .planContainer .plan .planDiscount {
  font-weight: bold;
  font-size: 1.25em;
  padding: 10px 0;
}

/* line 373, ../sass/payment-new-app.scss */
.paymentMain {
  background: white;
}

@media screen and (min-width: 768px) {
  /* line 378, ../sass/payment-new-app.scss */
  .topBand .sectionTitle {
    font-size: 2.75em;
    margin-top: 35px;
  }
  /* line 381, ../sass/payment-new-app.scss */
  .topBand .subTitle {
    margin-bottom: 30px;
  }
  /* line 384, ../sass/payment-new-app.scss */
  .topBand .errorTitle {
    margin-bottom: 30px;
  }

  /* line 389, ../sass/payment-new-app.scss */
  .newPayment .topRow {
    margin-bottom: 15px;
  }
  /* line 391, ../sass/payment-new-app.scss */
  .newPayment .topRow p {
    margin: 0;
  }
  /* line 394, ../sass/payment-new-app.scss */
  .newPayment .topRow.centerWrap {
    width: 648px;
  }
  /* line 398, ../sass/payment-new-app.scss */
  .newPayment .sectionTitle {
    margin-bottom: 5px;
  }
  /* line 401, ../sass/payment-new-app.scss */
  .newPayment .summaryTable {
    width: 640px;
    margin: 35px auto;
  }
  /* line 405, ../sass/payment-new-app.scss */
  .newPayment .choiceRow .planChoice {
    margin: 35px auto;
    width: 640px;
    font-size: 1em;
  }
  /* line 407, ../sass/payment-new-app.scss */
  .newPayment .choiceRow .planChoice td {
    border: 1px solid #f3f3f3;
  }
  /* line 409, ../sass/payment-new-app.scss */
  .newPayment .choiceRow .planChoice td:first-child {
    display: table-cell;
  }
  /* line 412, ../sass/payment-new-app.scss */
  .newPayment .choiceRow .planChoice td .label {
    display: none;
  }

  /* line 419, ../sass/payment-new-app.scss */
  .centerWrap {
    width: 500px;
  }

  /* line 423, ../sass/payment-new-app.scss */
  .paymentWelcome .sectionTitle {
    margin-top: 0px;
  }
  /* line 427, ../sass/payment-new-app.scss */
  .paymentWelcome .planContainer .plan {
    margin-bottom: 0;
  }
  /* line 431, ../sass/payment-new-app.scss */
  .paymentWelcome .userInfo {
    margin-top: 0px;
    font-size: 1.25em;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  /* line 438, ../sass/payment-new-app.scss */
  .centerWrap {
    width: 720px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 443, ../sass/payment-new-app.scss */
  .centerWrap {
    width: 840px;
  }
}
