/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/_definitions.scss */
body {
  max-width: 100%;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
  color: #555555;
  font-family: "Lato", Helvetica, sans-serif;
}

/* line 45, ../sass/_definitions.scss */
body, html {
  height: 100%;
}

/* line 48, ../sass/_definitions.scss */
.modal {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

/* line 54, ../sass/_definitions.scss */
.fullwidth {
  width: 100%;
  height: auto;
}

/* line 58, ../sass/_definitions.scss */
.threefourth {
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
}

/* line 63, ../sass/_definitions.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  margin: 0 0 1em 0;
}

/* line 68, ../sass/_definitions.scss */
h1 {
  font-size: 2.625em;
}

/* line 69, ../sass/_definitions.scss */
h2 {
  font-size: 2em;
}

/* line 70, ../sass/_definitions.scss */
h3 {
  font-size: 1.5em;
}

/* line 71, ../sass/_definitions.scss */
h4 {
  font-size: 1.3125em;
}

/* line 72, ../sass/_definitions.scss */
h5 {
  font-size: 1em;
}

/* line 73, ../sass/_definitions.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 76, ../sass/_definitions.scss */
.ib {
  display: inline-block;
  vertical-align: middle;
}

/* line 80, ../sass/_definitions.scss */
.fleft {
  float: left;
}

/* line 83, ../sass/_definitions.scss */
.fright {
  float: right;
}

/* line 86, ../sass/_definitions.scss */
.pageBlocks {
  position: relative;
}
/* line 88, ../sass/_definitions.scss */
.pageBlocks p {
  margin-bottom: 1em;
}

/* line 92, ../sass/_definitions.scss */
button {
  border: 0;
  border-radius: 5px;
  line-height: 1;
  padding: 8px;
  font-family: "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* line 97, ../sass/_definitions.scss */
input {
  line-height: 1;
  padding: 7px;
  font-family: "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #EEE #EEE #DDD;
}

/* line 102, ../sass/_definitions.scss */
.bg-prim {
  background: #E40707;
}

/* line 105, ../sass/_definitions.scss */
.bg-sec {
  background: #DB6A47;
}

/* line 108, ../sass/_definitions.scss */
.bg-acc {
  background: #3ADEED;
}

/* line 111, ../sass/_definitions.scss */
.bg-soft {
  background: #999999;
}

/* line 114, ../sass/_definitions.scss */
.bg-hard {
  background: #555555;
}

/* line 117, ../sass/_definitions.scss */
.bg-light {
  background: #EEEEEE;
}

/* line 120, ../sass/_definitions.scss */
.bg-dark {
  background: #333333;
}

/* line 123, ../sass/_definitions.scss */
.prim {
  color: #E40707;
}

/* line 126, ../sass/_definitions.scss */
.sec {
  color: #DB6A47;
}

/* line 129, ../sass/_definitions.scss */
.acc {
  color: #3ADEED;
}

/* line 132, ../sass/_definitions.scss */
.soft {
  color: #999999;
}

/* line 135, ../sass/_definitions.scss */
.hard {
  color: #555555;
}

/* line 138, ../sass/_definitions.scss */
.light {
  color: #EEEEEE;
}

/* line 141, ../sass/_definitions.scss */
.dark {
  color: #333333;
}

/* line 144, ../sass/_definitions.scss */
.white {
  color: white;
}

/* line 147, ../sass/_definitions.scss */
.bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 153, ../sass/_definitions.scss */
a {
  outline: 0;
}
/* line 155, ../sass/_definitions.scss */
a:visited {
  color: inherit;
}

/* line 3, ../sass/web-login.scss */
body {
  background: url("../images/loginBg.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 7, ../sass/web-login.scss */
div.popup {
  position: fixed;
  z-index: 9998;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  width: 300px;
  height: 440px;
  overflow: auto;
}
/* line 11, ../sass/web-login.scss */
div.popup .closepopup {
  z-index: 9999;
  color: #999999;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 11px;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  /* line 17, ../sass/web-login.scss */
  div.popup {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  /* line 22, ../sass/web-login.scss */
  div.popup {
    width: 600px;
    height: 450px;
  }
}
/* line 29, ../sass/web-login.scss */
.messageModal, .messageModal.small {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  top: 0;
  left: 0;
}
/* line 32, ../sass/web-login.scss */
.messageModal.flexed, .messageModal.small.flexed {
  -webkit-display: flex !important;
  -moz-display: flex !important;
  -o-display: flex !important;
  -ms-display: flex !important;
  display: flex !important;
}
/* line 35, ../sass/web-login.scss */
.messageModal .messageModalInner, .messageModal.small .messageModalInner {
  width: 320px;
  background: white;
  padding: 20px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  max-height: 90%;
}
/* line 39, ../sass/web-login.scss */
.messageModal .messageModalInner button, .messageModal.small .messageModalInner button {
  color: white;
  font-weight: bold;
  background: #47D4D4;
}
/* line 42, ../sass/web-login.scss */
.messageModal .messageModalInner p, .messageModal.small .messageModalInner p {
  font-size: 1.125em;
  margin-bottom: 1em;
  word-break: normal;
}
/* line 45, ../sass/web-login.scss */
.messageModal .messageModalInner .close, .messageModal.small .messageModalInner .close {
  position: absolute;
  border: 0;
  padding: 6px;
  z-index: 11;
  border-radius: 50%;
  line-height: 1;
  right: -13px;
  top: -13px;
  background: #E40707;
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Segoe UI Symbol', 'Lucida Sans Regular', 'Symbola', 'Myriad Pro', 'Dingbats', 'Symbol', 'Apple Symbols', 'Arial Unicode MS', sans-serif;
}
/* line 51, ../sass/web-login.scss */
.messageModal .messageModalInner .closeImg, .messageModal.small .messageModalInner .closeImg {
  display: block;
  height: 100%;
  width: auto;
}

@media screen and (min-width: 480px) {
  /* line 58, ../sass/web-login.scss */
  .messageModal.wide .messageModalInner, .messageModal.xl .messageModalInner, .messageModal.xxl .messageModalInner {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  /* line 65, ../sass/web-login.scss */
  .messageModal.wide .messageModalInner {
    width: 540px;
  }
  /* line 68, ../sass/web-login.scss */
  .messageModal.xl .messageModalInner, .messageModal.xxl .messageModalInner {
    width: 640px;
  }
  /* line 72, ../sass/web-login.scss */
  .messageModal .messageModalInner .close {
    right: -14px;
    top: -14px;
  }
}
@media screen and (min-width: 992px) {
  /* line 80, ../sass/web-login.scss */
  .messageModal.wide .messageModalInner {
    width: 540px;
  }
  /* line 83, ../sass/web-login.scss */
  .messageModal.xl .messageModalInner, .messageModal.xxl .messageModalInner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 90, ../sass/web-login.scss */
  .messageModal.wide .messageModalInner {
    width: 540px;
  }
  /* line 93, ../sass/web-login.scss */
  .messageModal.xl .messageModalInner {
    width: 768px;
  }
  /* line 96, ../sass/web-login.scss */
  .messageModal.xxl .messageModalInner {
    width: 992px;
  }
}
/* line 101, ../sass/web-login.scss */
.messageModal .messageModalInner .close, .messageModal.small .messageModalInner .close {
  background: #47d4d4;
  padding: 0;
}

/* line 106, ../sass/web-login.scss */
.gateWayModal .gateWayModalInner .signupCta, .gateWayModal .gateWayModalInner .loginCta, .gateWayModal .gateWayModalInner .forgotCta {
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  background: #4e5858;
  width: 200px;
  border-radius: 3px;
}
/* line 109, ../sass/web-login.scss */
.gateWayModal .gateWayModalInner .signupCta.fb, .gateWayModal .gateWayModalInner .loginCta.fb, .gateWayModal .gateWayModalInner .forgotCta.fb {
  background: #3B5998;
}
/* line 112, ../sass/web-login.scss */
.gateWayModal .gateWayModalInner .signupCta.gp, .gateWayModal .gateWayModalInner .loginCta.gp, .gateWayModal .gateWayModalInner .forgotCta.gp {
  background: #EA4335;
}
/* line 114, ../sass/web-login.scss */
.gateWayModal .gateWayModalInner .signupCta.gp img, .gateWayModal .gateWayModalInner .loginCta.gp img, .gateWayModal .gateWayModalInner .forgotCta.gp img {
  font-size: 0;
  position: relative;
  top: 2px;
}
/* line 118, ../sass/web-login.scss */
.gateWayModal .gateWayModalInner .signupCta.em, .gateWayModal .gateWayModalInner .signupCta.forgotCta, .gateWayModal .gateWayModalInner .loginCta.em, .gateWayModal .gateWayModalInner .loginCta.forgotCta, .gateWayModal .gateWayModalInner .forgotCta.em, .gateWayModal .gateWayModalInner .forgotCta.forgotCta {
  background: #555555;
}
/* line 122, ../sass/web-login.scss */
.gateWayModal .gateWayModalInner .label {
  font-size: 0.875em;
  margin: 0;
}
/* line 126, ../sass/web-login.scss */
.gateWayModal .existing {
  margin-top: 1em;
  display: block;
}
/* line 129, ../sass/web-login.scss */
.gateWayModal .gateWayTitle {
  color: #3ADEED;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
}
/* line 133, ../sass/web-login.scss */
.gateWayModal .divider {
  text-align: center;
  position: relative;
  margin: 10px auto;
  width: 200px;
}
/* line 135, ../sass/web-login.scss */
.gateWayModal .divider .dividerText {
  background: white;
  width: 30px;
  display: inline-block;
  position: relative;
  z-index: 12;
}
/* line 139, ../sass/web-login.scss */
.gateWayModal .divider::before {
  content: '';
  display: inline-block;
  width: 48%;
  height: 1px;
  z-index: 10;
  background: #cccccc;
  position: absolute;
  left: 0;
  top: 12px;
}
/* line 143, ../sass/web-login.scss */
.gateWayModal .divider::after {
  content: '';
  display: inline-block;
  width: 45%;
  height: 1px;
  z-index: 10;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 12px;
}
/* line 149, ../sass/web-login.scss */
.gateWayModal .loginEmail .back, .gateWayModal .forgotPw .back {
  background: transparent;
  padding: 0;
  width: 150px;
  color: #3ADEED;
  text-transform: uppercase;
  margin: 0 auto 15px auto;
  display: block;
}
/* line 155, ../sass/web-login.scss */
.gateWayModal .forgotPw .success, .gateWayModal .forgotPw .error {
  display: none;
}
/* line 159, ../sass/web-login.scss */
.gateWayModal .forgotPw.success .forgotCard {
  display: none;
}
/* line 162, ../sass/web-login.scss */
.gateWayModal .forgotPw.success .success {
  display: block;
}
/* line 167, ../sass/web-login.scss */
.gateWayModal .forgotPw.error .error {
  display: block;
}
/* line 172, ../sass/web-login.scss */
.gateWayModal .loginField {
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 1em;
  box-sizing: border-box;
  font-weight: 300;
  border-radius: 3px;
}
