/*error pages styles*/
@import "definitions";
@import "popup";
@import "grid";

body {
	background:url("http://cdn.orobind.com/srv/static/imagesV2/bg.jpg"); width: 100%; overflow-x:hidden; background-size:cover; background-attachment:fixed;
}
.hidden {
	display:none;
}
.sidenav {
	width:260px; height:1600px; background:$primary-color; color:white; padding:15px 30px;
	position:fixed; z-index:20; right:-260px; top:0; box-sizing:border-box; transition:right 0.5s ease-in-out;
	&.active {
		right:0px;
	}
	.sidenavlist {
		a {
			display:block; padding:20px 10px; text-decoration:none;
			color:white; border-bottom:1px solid white;
			font-size:1.125em;
			&:last-child {
				border:2px solid white; font-weight:bold;
			}
			&:nth-last-child(2) {
				border-bottom:0;
				font-weight:bold;
			}
		}
		.callback {
			color:white; padding:10px; text-align:center;
		}
	}
}
.wrapper {
	position:relative; right:0; transition:right 0.5s ease-in-out;
	&.active {
		right:260px;
		.topNav {
			&.sticky {
				transition:left 0.5s ease-in-out; left:-260px;
			}
		}
	}
}
.pageBlocks {
	position:relative;
}
.sectionTitle {
	font-size:2em; font-weight:bold; text-align:center; margin-top:25px; margin-bottom:12px; color:$dark-grey;
	&.light {
		color:white;
	}
}
.stripedBorder {
	border-style: solid; border-width: 0px 0px 20px; border-image: url("http://cdn.orobind.com/srv/static/imagesV2/stripe.png") 20 fill round;
	margin-top:0;
}
.home {
	min-height:480px; color:white; position:relative; overflow:hidden;
	background:rgba(black,0.4); background-size:cover; background-repeat:no-repeat; background-position:center center;
	a {
		color:complement($primary-color);
	}
}
.topNav {
	transition: all 1s ease;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;
	text-align:right; padding-top:25px;
	img {
		display:inline-block; vertical-align:middle;
	}
	a {
		transition:border-color 0.5s ease, padding 0.2s ease-in-out;
		display:none; color:white; text-decoration:none; vertical-align:middle;
		font-size:1em; padding:10px 0; margin:0 20px 0 10px;
		border-bottom:2px solid transparent;
		&.current {
			border-bottom:3px solid rgba($soft-grey,0.3);
		}
	}
	.animate {
		transition: 0.5s ease;
		text-shadow: 0 0 25 rgba(0,0,0,0);
		&:hover {
			text-shadow: 0 0 5px rgba(white,1); padding-right:20px; padding-left:20px;
		}
	}
	.menutoggle {
		background:none; color:white; padding:10px 15px;
	}
	.topLogo {
		display:inline-block; margin:0; padding:10px 15px;
		img {
			height:36px; width:auto;
		}
	}
	.callback {
		padding:10px 15px; font-weight:bold;
		box-shadow:inset 0px 0px 50px 50px rgba(#00DDCF,0.85); color:white;
		text-shadow: 1px 1px 2px rgba(black,0.2); border-radius:7px;
		&:hover {
			text-shadow: 0 0 5px rgba(white,0.5); padding:10px 30px;
		}
	}
	.topDownload {
		font-weight:bold;
		img {
			height:36px; width:auto;
			margin-right:25px;
		}
	}
	&.sticky {
		background:rgba(white,0.95); padding:10px 0; border-bottom:2px solid lighten($light-grey,2%);
		position:fixed; top:0; left:0; width:100%; z-index:99;
		.menutoggle {
			color:$hard-grey;
		}
		a {
			color:$hard-grey; 
		}
		.topDownload {
			border:0; background:transparent; font-weight:bold; padding:10px 0;
			img {
				margin-right:15px;
			}
		}
		.topLogo {
			img {height:25px; width:auto;} padding:0 15px;
		}
		.callback {
			color:#13DCBB; box-shadow:none; text-shadow:none;
			&:hover {
				box-shadow:inset 0px 0px 50px 50px rgba(#00DDCF,0.85); color:white;
			}
		}
	}
}
.appDownloadModal {
	position:fixed; z-index:999; top:0; left:0; right:0; bottom:0; margin:auto; color:$hard-grey; display:none;
	background:white; padding:20px; width:320px; height:280px; box-sizing:border-box;
	.closeAppDownload {
		position:absolute; right:20px; top:20px; line-height:1; cursor:pointer;
	}
	.choosePlatform {
		font-size:1.5em; font-weight:bold; color:$primary-color;
		i {
			font-size:2em;
		}
		padding:15px 0; margin-bottom:25px;
	}
	.choice {
		text-align:center; transition:0.3s all ease;
		&:hover {
			cursor:pointer; color:#E45656;
		}
		&:first-child {
			border-right:2px solid $light-grey;
		}
	}
	.callback, .cancelRedir {
		color:$hard-grey; background:transparent; border-radius:0;
		font-size:1.25em; display:block; margin:10px auto; box-sizing:border-box;
		border:2px solid $light-grey; transition:0.4s all ease;
		&:hover {
			padding-left:20px; padding-right:20px; background:$primary-color;
			border-color:transparent; color:white;
		}
	}
	.modalTitle {
		text-align:center;
	}
	.normal {
	}
	.iosDevice, .androidDevice {
		text-align:center; padding-top:20px; display:none;
		.redirTime {
			font-weight:bold; color:$primary-color;
		}
		.timer {
			font-size:1.25em; margin-bottom:25px;
		}
	}
}
.callbackModal {
	position:fixed; z-index:999; display:none; top:0; left:0; right:0; bottom:0; margin:auto;
	background:white; padding:20px; width:300px; height:425px; box-sizing:border-box;
	.fieldRow {
		position:relative;
		.errorText {
			position:absolute; z-index:10; display:none;
			right:10px; top:11px; color:#CCC; font-size:0.875em;
		}
		.error + .errorText {
			display:initial;
		}
	}
	.post {
		display:none;
	}
	&.hit, &.miss {
		h2, .content {
			display:none;
		}
		.callbackForm {
			display:none;
		}
	}
	&.miss {
		height:360px;
		form.callbackForm {
			display:initial;
		}
		.miss {
			display:block;
		}
	}
	p.miss, p.hit {
		margin-bottom:25px;
	}
	&.hit {
		height:205px;
		.hit {
			display:block;
		}
	}
	.modalTitle {
		line-height:1; margin: -20px -20px 5px -20px; padding:20px; text-align:center;
	}
	button.hit {
		background:$primary-color; color:white; border-radius:0; width:100%; margin-top:25px;
		padding:10px 0; text-align:center; font-size:1.25em; font-weight:bold;
	}
	.closeCallback {
		position:absolute; right:20px; top:20px; line-height:1; color:$soft-grey; cursor:pointer;
	}
	.callbackField {
		display:block; width:100%; box-sizing:border-box;
		font-size:1.25em; padding:10px 0 10px 15px; margin-bottom:10px;
		&.error {
			border:2px solid $primary-color; box-sizing:border-box;
		}
	}
	.callbackCTA {
		background:$primary-color; color:white; border-radius:0; width:100%; margin-top:25px;
		display:block; padding:10px 0; text-align:center; font-size:1.25em; font-weight:bold;
	}
	.content {
		margin-top:10px; margin-bottom:15px; line-height:1.8;
	}
	h2 {
		margin-bottom:25px;
	}
}
.callout {
	text-align:center; padding:20px 10px 0 10px;
	h1 {
		font-size:1.65em; line-height:1; font-weight:normal; margin-bottom:15px;
	}
	h2 {
		font-size:1.25em; font-weight:normal; margin-bottom:25px;
	}
	p {
		font-size:1.3em;
	}
	.notice {
		font-size:1.25em; font-weight:300; margin-bottom:25px; color:white; display:none;
	}
	.cta, .secondary {
		font-size:1.25em; padding:15px; width:260px; box-sizing:content-box; text-align:center; display:block;
		border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; margin:auto; color:white;
		flex-direction:row; align-items:center; justify-content:center;
	}
	.cta {
		background:rgba(black,0.85); margin-bottom:15px;
		/*@include background-image(linear-gradient(left top, rgba(17,17,17,0.85) 0%,rgba(5,5,5,0.85) 50%,rgba(17,17,17,0.85) 100%));*/
		text-decoration:none; font-size:1em; border-radius:10px;
		i {
			margin-right:20px; vertical-align:top; font-size:4em;
		}
		.largeText {
			display:block; font-size: 1.75em;
		}
		.buttonText {
			display:inline-block; font-size: 1em; line-height: 1.125; vertical-align: top;
		}
		.playstoreimg {
			display:inline-block; margin-right:20px; height:45px; width:auto; vertical-align:top;
		}
	}
	.secondary {
		background:$hard-grey;
	}
	.mainPoint {
		display:block; text-transform:uppercase; margin:7px 0; font-weight:bold;
	}
	.brSmall {
		display:block;
	}
}
.centerWrap {
	width:100%; margin:auto;
}
.footer {
	background:rgba(black,0.4); color:white; padding:20px;
	.social {
		font-size:1em; text-align:center; display:block; margin:auto; margin-top:20px;
		a {
			transition:0.5s ease-in-out;
			text-decoration:none; color:inherit;
			&:hover {
				text-shadow:0px 0px 5px white;
			}
		}
		i {
			margin-left:15px;
			font-size:2em;
		}
	}
	.footercenter {
		text-align:center; padding:0;
	}
	.footerNav {
		 margin-top:15px;
		a {
			font-size:1em; text-decoration:none; color:white;
			margin-left:15px; transition:0.5s ease-in-out; 
			&:first-child {
				margin-left:0;
			}
			&:hover {
				padding-left:10px; padding-right:10px;
				text-shadow:0px 0px 5px white;
			}
		}
	}
	.footerlogo {
		height:30px; width:auto; display:block; margin:auto;
	}
}
@media screen and (min-width:768px) {
	.home {
		min-height:684px;
	}
	.callbackModal {
		width:380px; height:400px;
	}
	.callout {
		padding:220px 0 0 0;
		h1 {
			font-size:3.25em; margin-bottom:15px; font-weight:bold;
		}
		h2 {
			font-size:2em; font-weight:bold; display:block; margin-bottom:45px;
		}
		.cta, .secondary {
			font-size:1.5em; padding:15px 35px; width:auto; display:initial; box-sizing:border-box;
			text-shadow: 0 0 0 rgba(white,0); transition: all 0.5s ease;
			&:hover{
				padding:15px 60px;
				text-shadow: 0 0 5px rgba(white,0.5);
			}
		}
		.cta {
			display:inline-block; margin:0 10px;
			.buttonText {
				font-size:0.65em;
			}
			i {
				font-size:2em;
			}
		}
		.secondary {
			margin-left:25px;
		}

		.notice {
			font-size:1.5em; font-weight:400; display:block; margin-bottom:45px;
		}
		.mainPoint {
			display:initial; text-transform:none; margin:0;
		}
		.brSmall {
			display:initial;
		}
	}
	.sectionTitle {
		font-size:2.75em; font-weight:normal;
	}
	.footer {
		.footerNav {
			a {
				margin:0 15px; font-size:1.125em;
			}
		}
		padding:40px 0 25px 0;
		.footerlogo {
			height:auto; width:100%;
		}
		.social {
			margin-top:0; text-align:right; font-size:1.25em;
		}
		.footercenter {
			padding:0 15px;
		}
	}
	.home {
		background-size:cover;
	}
	.centerWrap {
		width:600px;
	}
}
@media screen and (min-width:992px) {
	.centerWrap {
		width:840px;
	}
	.topNav {
		&.sticky {
			.topLogo {
				padding:10px 15px;
			}
		}
		.menutoggle {
			display:none;
		}
		a {
			display:inline-block;
		}
	}
}
@media screen and (min-width:1280px) {
	.centerWrap {
		width:1024px;
	}
}