@import "definitions";

body {
	background: url("../images/loginBg.jpg"); background-size: cover; background-position: center center;
}

div.popup {
	position:fixed; z-index:9998; display:none;
	top:0; left:0; right:0; bottom:0; margin:auto;
	overflow:auto; width:300px; height:440px; overflow:auto;
	.closepopup {
		z-index:9999; color:$soft-grey; text-decoration:none;
		position:absolute; top:0; right:11px; padding:10px;
	}
}
@media screen and (min-width:480px) {
	div.popup {
		width:440px;
	}
}
@media screen and (min-width:768px) {
	div.popup {
		width:600px; height:450px;
	}
}
@media screen and (min-width:992px) {
}

.messageModal, .messageModal.small {
	position:fixed; display:none; width:100%; height:100%; z-index:9999;
	@include vendorStyle(justify-content,center); @include vendorStyle(align-items,center); top:0; left:0;
	&.flexed {
		-webkit-display: flex !important; -moz-display: flex !important; -o-display: flex !important; -ms-display: flex !important; display: flex !important;
	}
	.messageModalInner {
		width:320px; background:white; padding:20px; text-align:center; position: relative;
		box-sizing:border-box; border-radius: 7px; box-shadow: 0 0 3px 1px rgba(black,0.4);
		max-height: 90%;
		button {
			color:white; font-weight:bold; background:#47D4D4;
		}
		p {
			font-size:1.125em; margin-bottom:1em; word-break:normal;
		}
		.close {
			position: absolute; border: 0; padding: 6px; z-index: 11; border-radius: 50%;
			line-height: 1; right: -13px; top: -13px; background: $primary-color;
			display: block; color:white; font-weight: bold; cursor: pointer;
			font-family: 'Segoe UI Symbol', 'Lucida Sans Regular', 'Symbola', 'Myriad Pro', 'Dingbats', 'Symbol', 'Apple Symbols', 'Arial Unicode MS', sans-serif;
		}
		.closeImg {
			display: block; height: 100%; width: auto;
		}
	}
}
@media screen and (min-width:480px) {
	.messageModal {
		&.wide .messageModalInner, &.xl .messageModalInner, &.xxl .messageModalInner {
			width: 420px;
		}
	}
}
@media screen and (min-width:768px) {
	.messageModal {
		&.wide .messageModalInner {
			width: 540px;
		}
		&.xl .messageModalInner, &.xxl .messageModalInner {
			width: 640px;
		}
		.messageModalInner {
			.close {
				right: -14px; top: -14px;
			}
		}
	}
}
@media screen and (min-width:992px) {
	.messageModal {
		&.wide .messageModalInner {
			width: 540px;
		}
		&.xl .messageModalInner, &.xxl .messageModalInner {
			width: 768px;
		}
	}
}
@media screen and (min-width:1200px) {
	.messageModal {
		&.wide .messageModalInner {
			width: 540px;
		}
		&.xl .messageModalInner {
			width: 768px;
		}
		&.xxl .messageModalInner {
			width: 992px;
		}
	}
}
.messageModal .messageModalInner .close, .messageModal.small .messageModalInner .close {
	background: #47d4d4; padding: 0;
}
.gateWayModal {
	.gateWayModalInner {
		.signupCta, .loginCta, .forgotCta {
			height: 40px; font-size: 1em; text-transform: uppercase; color:white;
			background: #4e5858; width: 200px; border-radius: 3px;
			&.fb {
				background: #3B5998;
			}
			&.gp {
				background: #EA4335;
				img {
					font-size: 0; position: relative; top:2px;
				}
			}
			&.em, &.forgotCta {
				background: #555555;
			}
		}
		.label {
			font-size: 0.875em; margin: 0;
		}
	}
	.existing {
		margin-top: 1em; display: block;
	}
	.gateWayTitle {
		color: $accent-color; text-transform: uppercase;
		font-size: 1.25em; font-weight: 400;
	}
	.divider {
		text-align: center; position: relative; margin: 10px auto; width: 200px;
		.dividerText {
			background: white; width: 30px; display: inline-block;
			position: relative; z-index: 12;
		}
		&::before {
			content: ''; display: inline-block; width: 48%; height: 1px; z-index: 10;
			background: lighten($soft-grey,20%); position: absolute; left: 0; top:12px;
		}
		&::after {
			content: ''; display: inline-block; width: 45%; height: 1px; z-index: 10;
			background: lighten($soft-grey,20%); position: absolute; right: 0; top:12px;
		}
	}
	.loginEmail, .forgotPw {
		.back {
			background: transparent; padding:0; width:150px; color:$accent-color;
			text-transform: uppercase; margin:0 auto 15px auto; display: block;
		}
	}
	.forgotPw {
		.success, .error {
			display: none;
		}
		&.success{
			.forgotCard {
				display: none;
			}
			.success {
				display: block;
			}
		}
		&.error {
			.error {
				display: block;
			}
		}
	}
	.loginField {
		width: 200px; height: 40px; margin-bottom: 15px; font-size: 1em;
		box-sizing: border-box; font-weight: 300; border-radius: 3px;
	}
}
